# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files (se usar)
.env
.env.*

# Editor configs
.vscode/
.idea/

# Mac/Linux/Windows
.DS_Store
Thumbs.db